{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
{% set embargo_date =  content['#node'].field_pr_embargo_date.value %}
{% set publication_date =  content['#node'].field_publication_date.value %}

<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

{{ title_suffix.contextual_links }}
{% if content.1 %} {{ content.1 }}{% endif %}
<div{{ content_attributes.addClass('node__content', 'clearfix') }}>
  {{ ds_content }}
</div>
</{{ ds_content_wrapper }}>
