{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
]
%}
{%
  set title_classes = [
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

<section class="related-resources-wrapper">
    {% if multiple %}
      <div{{ attributes.addClass(classes, 'field__items') }}>
        <div class="content-headings-related h2-related-articles">
          <h2>{{ 'Related resources' | trans }}</h2>
        </div>

        {% set  file_array = [] %}
        {% set  youtube_array = [] %}
        {% set  publication_array = [] %}
        {% set  slideshare_array = [] %}
        {% set  infographic_array = [] %}


        {% for item in items %}

          {% if  item.content['#node'].type.0.target_id == 'file' %}
            {% set file_array = file_array|merge([{ item }]) %}
          {% endif %}

          {% if  item.content['#node'].type.0.target_id == 'youtube' %}
            {% set youtube_array = youtube_array|merge([{ item }]) %}
          {% endif %}

          {% if  item.content['#node'].type.0.target_id == 'publication' %}
            {% set publication_array = publication_array|merge([{ item }]) %}
          {% endif %}

          {% if  item.content['#node'].type.0.target_id == 'slideshare' %}
            {% set slideshare_array = slideshare_array|merge([{ item }]) %}
          {% endif %}

          {% if  item.content['#node'].type.0.target_id == 'infographic' %}
            {% set infographic_array = infographic_array|merge([{ item }]) %}
          {% endif %}

        {% endfor %}

        {% if  infographic_array|length > 0 %}
          <h3 class="custom-border h3-files-resources h3-related-articles"><span>{{ 'Infographics' | trans }}</span></h3>
          <section class="infographic-wrapper">
          {% for infographic in infographic_array %}
            <div class="field-item infographic-field">
              {{ infographic.item.content }}
            </div>
          {% endfor %}
          </section>
        {% endif %}

        {% if  file_array|length > 0 %}
          <h3 class="custom-border h3-files-resources h3-related-articles"><span>{{ 'Files' | trans }}</span></h3>
          <section class="file-wrapper">
          {% for file in file_array %}
            <div class="field-item file-field">
              {{ file.item.content }}
            </div>
          {% endfor %}
          </section>
        {% endif %}

        {% if  youtube_array|length > 0 %}
          <h3 class="custom-border h3-files-resources h3-related-articles"><span>{{ 'Videos' | trans }}</span></h3>
          <section class="youtube-wrapper">
          {% for youtube in youtube_array %}
            <div class="field-item youtube-field">
              {{ youtube.item.content }}
            </div>
          {% endfor %}
          </section>
        {% endif %}

        {% if  slideshare_array|length > 0 %}
          <h3 class="custom-border h3-files-resources h3-related-articles"><span>{{ 'Presentations' | trans }}</span></h3>
          <section class="slideshare-wrapper">
          {% for slideshare in slideshare_array %}
            <div class="field-item infographic-field">
              {{ slideshare.item.content }}
            </div>
          {% endfor %}
          </section>
        {% endif %}

        {% if  publication_array|length > 0 %}
          <h3 class="custom-border h3-files-resources h3-related-articles"><span>{{ 'Related publications' | trans }}</span></h3>
          <section class="publication-wrapper">
            {% for publication in publication_array %}
            <div class="field-item publication-field">
              {{ publication.item.content }}
            </div>
          {% endfor %}
          </section>
        {% endif %}

    {% else %}
      {% for item in items %}
        <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
      {% endfor %}
    {% endif %}

</section>
